html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
  display: block;
  border:10px solid rgb(43, 55, 226);
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%) scale(1);
  }
  
  div.link{
    font-size:20px;
    margin-top:80px;
    text-align: center;
}